html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background-color: cornflowerblue;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

.page-header {
  background: rgba(0, 0, 0, 0.4);
  background-size: cover;
  top: 0px;
  max-height: 30%;
  padding: 10px;
}

.nav-bar {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.nav-bar li {
  font-size: 2rem;
}

.nav-bar li:hover {
  background-color: gray;
}

.nav-bar a {
  text-decoration: none;
  color: white;
}

.header-div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px solid yellow;
  padding: 20px;
}

.main-heading {
  display: inline;
  color: white;
}

.profile-img img {
  max-height: 250px;
  border-radius: 50%;
}

.main-heading h1 {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
.main-heading h2 {
  font-size: 70px;
  font-family: Arial, Helvetica, sans-serif;
  color: gold;
}

.main-heading h3 {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
}

.about-me {
}

.my-project-title {
  text-align: center;
}

.my-project-title h2 {
  display: inline-block;
  background-color: yellow;
  border-radius: 5px;
  font-size: 3rem;
  color: cornflowerblue;
}

.content1 {
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
}

.project-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project-card img {
  margin: 10px;
  height: 300px;
  width: 40vw;
  border-radius: 10px;
  filter: grayscale(1);
}
.project-card img:hover {
  filter: grayscale(0);
}

.project-card h3 {
  text-align: center;
}

.project-card {
  border-top: 3px solid yellow;
  margin-top: 0.5rem;
}

.image-div {
  border-radius: 1rem;
}

.contact-me-div {
  background-color: yellow;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-radius: 5px;
  margin: 5px;
  padding: 1rem;
}

.contact-me-div h3 {
  color: black;
  font-size: 2rem;
  background-color: white;
  border-radius: 5px;
  margin-left: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.social-link {
  margin: auto;
}

.footer {
  text-align: center;
  bottom: 0px;
}

.footer p {
  bottom: 0;
}

.main-heading h1 {
  animation: floatInFromRight 2s ease-out;
}

@media screen and (max-width: 400px) {
  .page-header {
    padding: 0%;
  }
  .nav-bar {
    text-align: center;
  }
  .nav-bar li {
    flex-basis: 100%;
    background-color: yellow;
    border-radius: 5px;
    margin: 5px;
    border: 2px solid cornflowerblue;
  }

  .main-heading {
    text-align: center;
  }
  .main-heading h1 {
    font-size: 2rem;
  }

  .main-heading h2 {
    font-size: 2.5rem;
  }

  .main-heading h3 {
    font-size: 2rem;
  }

  .project-card img {
    width: 90vw;
  }

  .social-link {
    margin: 5px;
  }
}

@keyframes floatInFromRight {
  0% {
    transform: translateX(-50rem);
  }

  100% {
    transform: translateX(0);
  }
}
.main-heading h2 {
  animation: floatInFromRight 3s ease-out;
}

@keyframes floatInFromRight {
  0% {
    transform: translateX(-50rem);
  }

  100% {
    transform: translateX(0);
  }
}

.main-heading h3 {
  animation: floatInFromRight 3.5s ease-out;
}

@keyframes floatInFromRight {
  0% {
    transform: translateX(-50rem);
  }

  100% {
    transform: translateX(0);
  }
}

.header-div img {
  animation: floatInFromLeft 2s ease-out;
}

@keyframes floatInFromLeft {
  0% {
    transform: translateX(50rem);
  }

  100% {
    transform: translateX(0);
  }
}
