html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background-color: cornflowerblue;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

.nav-bar {
  display: flex;
  background: rgba(0, 0, 0, 0.4);
  margin-top: 0;
  height: 70px;
  list-style: none;
  justify-content: space-evenly;
}

.nav-bar li {
  margin: auto;
  font-size: 2rem;
}

.nav-bar a {
  text-decoration: none;
  color: white;
}

.nav-bar a:hover {
  background-color: yellow;
  color: cornflowerblue;
  text-transform: uppercase;
}

.header-div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-heading {
  display: inline;
  color: white;
  margin-left: 100px;
}


.profile-img img {
  max-height: 250px;
  border-radius: 50%;
  margin: 50px;
}

.main-heading h1 {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
.main-heading h2 {
  font-size: 70px;
  font-family: Arial, Helvetica, sans-serif;
  color: gold;
}

.main-heading h3 {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
}

.about-me {
  border-top: 2px s
  border-width: 60%;
}

.my-project-title {
  text-align: center;
}

.my-project-title h2 {
  display: inline-block;
  background-color: yellow;
  border-radius: 5px;
  font-size: 3rem;
  color: cornflowerblue;
}

.content1 {
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
}

.project-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project-card img {
  margin: 10px;
  height: 300px;
  width: 40vw;
  border-radius: 10px;
  filter: grayscale(1);
}
.project-card img:hover {
  filter: grayscale(0);
}

.image-div {
  border-radius: 1rem;
}

.contact-me-div {
  background-color: yellow;
  background-size: cover;

  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-radius: 5px;
  margin: 5px;
}

.contact-me-div h3 {
  color: black;
  font-size: 2rem;
  background-color: white;
  border-radius: 5px;
  margin-left: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.social-link {
  margin: auto;
}

.footer {
  text-align: center;
  bottom: 0px;
}

.footer p {
  bottom: 0;
}

.main-heading h1 {
  animation: floatInFromRight 2s ease-out;
}

@keyframes floatInFromRight {
  0% {
    transform: translateX(-50rem);
  }

  100% {
    transform: translateX(0);
  }
}
.main-heading h2 {
  animation: floatInFromRight 3s ease-out;
}

@keyframes floatInFromRight {
  0% {
    transform: translateX(-50rem);
  }

  100% {
    transform: translateX(0);
  }
}

.main-heading h3 {
  animation: floatInFromRight 3.5s ease-out;
}

@keyframes floatInFromRight {
  0% {
    transform: translateX(-50rem);
  }

  100% {
    transform: translateX(0);
  }
}

.header-div img {
  animation: floatInFromLeft 2s ease-out;
}

@keyframes floatInFromLeft {
  0% {
    transform: translateX(50rem);
  }

  100% {
    transform: translateX(0);
  }
}
